@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TT Commons DemiBold';
    src: url('../public/fonts/TT\ Commons\ DemiBold.otf');
}

* {
    font-family: 'TT Commons DemiBold';
    color:white;
}

/*body {
    margin:0;
    padding:0;
    background-image: linear-gradient(to right top, #191e29, #192230, #192537, #17293f, #132d46);
    background-repeat: no-repeat;
}*/
html {
        margin:0;
        padding:0;
        /*background-image: linear-gradient(to right top, #191e29, #192230, #192537, #17293f, #132d46);
        background-repeat: no-repeat;*/
        background-color: #191E29;
}